.site-footer {
	&.bg-dark {
		background-color: $dk-purple!important;
	}
	a[rel~="home"] {
		img {
			max-width: 100px!important;
		}
	}
}
.site-footer.site-footer__dark.footer-dark-v2 > .container > .row > *:last-child .widget_nav_menu .widget__title {
	color: rgba(255, 255, 255, 1) !important;
}