.u-header__section,
.u-header--bg-transparent:not(.js-header-fix-moment) .u-header__section {
	background-color: $dk-purple;
	box-shadow: none;
	.u-header__nav-link {
		color: #fff;
		font-size: 14px;
	}
	.u-sidebar--account__toggle-bg {
		background-color: rgba(255,255,255,.15);
	}
	.u-header__nav-item:hover .u-header__nav-link {
		color: $primary-lighter;
	}
	.u-sidebar--account__toggle-bg {
		&:hover .u-sidebar--account__toggle-text{
			color: $primary-lighter;
		}
		.u-sidebar--account__toggle-text {
			color: #fff;
			&:hover {
				color: $primary-lighter;
			}
		}
	}
	.btn-text-secondary {
		color: $primary;
	}
	.btn-text-secondary[href]:hover,
	.btn-text-secondary[href]:focus,
	.btn-text-secondary[href]:active,
	.btn-text-secondary[type]:hover,
	.btn-text-secondary[type]:focus,
	.btn-text-secondary[type]:active {
		color: #fff;
	}
}
@media (max-width: 767.98px) {
	.u-header--bg-transparent .u-header__navbar-nav {
	  background-color: transparent;	
	}
}