#submit-job-form .fieldset-job_title.fieldset-type-text {
	flex: unset;
	max-width: 100%;
}
#submit-job-form  {
	.fieldset-job_type.fieldset-type-term-multiselect,
	.fieldset-job_location.fieldset-type-text,
	.fieldset-job_category.fieldset-type-term-multiselect {
		flex: 0 0 33.3%;
		max-width: 33.3%;
	}
	.fieldset-job_work_environment.fieldset-type-multiselect {
		flex: 0 0 50%;
		max-width: 50%;
	}
}
#submit-resume-form .fieldset-type-url,
#submit-resume-form .fieldset-type-email {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
	#submit-resume-form .fieldset-type-url,
	#submit-resume-form .fieldset-type-email {
	  position: relative;
	  width: 100%;
	  padding-right: 15px;
	  padding-left: 15px;
	  flex: 0 0 50%;
	  max-width: 50%;
	}
}