body.login,
.login form {
	background: #1d1e43;
	color: #ffffff;
	border: none;
	input {
		border: none;
	}
}
body.login div#login {}
body.login div#login h1 {}
body.login div#login h1 a {}
body.login div#login form#loginform {
	background: #1d1e43;
	border: none;
}
body.login div#login form#loginform p {}
body.login div#login form#loginform p label {}
body.login div#login form#loginform input {}
body.login div#login form#loginform input#user_login {}
body.login div#login form#loginform input#user_pass {}
body.login div#login form#loginform p.forgetmenot {}
body.login div#login form#loginform p.forgetmenot input#rememberme {}
body.login div#login form#loginform p.submit {}
body.login div#login form#loginform p.submit input#wp-submit {
	background: #5064fb !important;
}
body.login div#login p#nav {}
body.login div#login p#nav a {
	color: #ffffff;
}
body.login div#login p#backtoblog {}
body.login div#login p#backtoblog a {
	color: #ffffff;
}

.login #login_error,
.login .message,
.login .success {
  background-color: transparent;
  border-left-color: #5064fb !important
}
.wp-core-ui .button-primary {
	background: #5064fb !important;
	border-color: #5064fb !important;
}
#pass-strength-result.strong {
  background-color: #5064fb;
  border-color: #5064fb;
  border-radius: 5px;
  margin-top: 5px;
}