/*
 * HP Listing
 */
/* Extra Small */
.hp-form .hp-field--submit, .hp-form .hp-field--button, .hp-listing-submit-page--complete .button {
  color: #fff;
  background-color: #377dff;
  border-color: #377dff; }
  .hp-form .hp-field--submit:hover, .hp-form .hp-field--button:hover, .hp-listing-submit-page--complete .button:hover {
    color: #fff;
    background-color: #1164ff;
    border-color: #045cff; }
  .hp-form .hp-field--submit:focus, .hp-form .hp-field--button:focus, .hp-listing-submit-page--complete .button:focus, .hp-form .focus.hp-field--submit, .hp-form .focus.hp-field--button, .hp-listing-submit-page--complete .focus.button {
    box-shadow: 0 0 0 0.2rem rgba(85, 145, 255, 0.5); }
  .hp-form .disabled.hp-field--submit, .hp-form .disabled.hp-field--button, .hp-listing-submit-page--complete .disabled.button, .hp-form .hp-field--submit:disabled, .hp-form .hp-field--button:disabled, .hp-listing-submit-page--complete .button:disabled {
    color: #fff;
    background-color: #377dff;
    border-color: #377dff; }
  .hp-form .hp-field--submit:not(:disabled):not(.disabled):active, .hp-form .hp-field--button:not(:disabled):not(.disabled):active, .hp-listing-submit-page--complete .button:not(:disabled):not(.disabled):active, .hp-form .hp-field--submit:not(:disabled):not(.disabled).active, .hp-form .hp-field--button:not(:disabled):not(.disabled).active, .hp-listing-submit-page--complete .button:not(:disabled):not(.disabled).active,
  .hp-form .show > .dropdown-toggle.hp-field--submit,
  .hp-form .show > .dropdown-toggle.hp-field--button,
  .hp-listing-submit-page--complete .show > .dropdown-toggle.button {
    color: #fff;
    background-color: #045cff;
    border-color: #0056f6; }
    .hp-form .hp-field--submit:not(:disabled):not(.disabled):active:focus, .hp-form .hp-field--button:not(:disabled):not(.disabled):active:focus, .hp-listing-submit-page--complete .button:not(:disabled):not(.disabled):active:focus, .hp-form .hp-field--submit:not(:disabled):not(.disabled).active:focus, .hp-form .hp-field--button:not(:disabled):not(.disabled).active:focus, .hp-listing-submit-page--complete .button:not(:disabled):not(.disabled).active:focus,
    .hp-form .show > .dropdown-toggle.hp-field--submit:focus,
    .hp-form .show > .dropdown-toggle.hp-field--button:focus,
    .hp-listing-submit-page--complete .show > .dropdown-toggle.button:focus {
      box-shadow: 0 0 0 0.2rem rgba(85, 145, 255, 0.5); }
  .hp-form .hp-field--submit:not(:hover), .hp-form .hp-field--button:not(:hover), .hp-listing-submit-page--complete .button:not(:hover) {
    color: #fff;
    background-color: #377dff; }
  .hp-form .hp-field--submit[href]:hover, .hp-form .hp-field--button[href]:hover, .hp-listing-submit-page--complete .button[href]:hover, .hp-form .hp-field--submit[href]:focus, .hp-form .hp-field--button[href]:focus, .hp-listing-submit-page--complete .button[href]:focus, .hp-form .hp-field--submit[href]:active, .hp-form .hp-field--button[href]:active, .hp-listing-submit-page--complete .button[href]:active, .hp-form .hp-field--submit[type]:hover, .hp-form .hp-field--button[type]:hover, .hp-listing-submit-page--complete .button[type]:hover, .hp-form .hp-field--submit[type]:focus, .hp-form .hp-field--button[type]:focus, .hp-listing-submit-page--complete .button[type]:focus, .hp-form .hp-field--submit[type]:active, .hp-form .hp-field--button[type]:active, .hp-listing-submit-page--complete .button[type]:active {
    box-shadow: 0 4px 11px rgba(55, 125, 255, 0.35); }
  .hp-form .hp-field--submit:not(label.btn), .hp-form .hp-field--button:not(label.btn), .hp-listing-submit-page--complete .button:not(label.btn), .hp-form .hp-field--submit:not(label.btn):not([href]):not(:disabled):not(.disabled), .hp-form .hp-field--button:not(label.btn):not([href]):not(:disabled):not(.disabled), .hp-listing-submit-page--complete .button:not(label.btn):not([href]):not(:disabled):not(.disabled), .hp-form .hp-field--submit:not([href]), .hp-form .hp-field--button:not([href]), .hp-listing-submit-page--complete .button:not([href]), .hp-form .hp-field--submit:not([href]):not([href]):not(:disabled):not(.disabled), .hp-form .hp-field--button:not([href]):not([href]):not(:disabled):not(.disabled), .hp-listing-submit-page--complete .button:not([href]):not([href]):not(:disabled):not(.disabled) {
    background-color: #377dff;
    border-color: #377dff; }
  .hp-form .hp-field--submit:hover, .hp-form .hp-field--button:hover, .hp-listing-submit-page--complete .button:hover {
    color: #fff !important;
    background-color: #377dff;
    border-color: #377dff; }

/* primary air */
.single-hp_listing #tab-reviews .hp-form .hp-field--submit, .hp-listing-dashboard--settings .hp-form__footer .hp-form__action--user-delete, .hp-listing-dashboard--listing__edit .hp-listing__action, .hp-listing-submit-page--details .hp-form__footer .hp-form__action--listing-category-change {
  color: #377dff;
  background: rgba(55, 125, 255, 0.1);
  border-color: transparent; }
  .single-hp_listing #tab-reviews .hp-form .hp-field--submit[href]:hover, .hp-listing-dashboard--settings .hp-form__footer .hp-form__action--user-delete[href]:hover, .hp-listing-dashboard--listing__edit .hp-listing__action[href]:hover, .hp-listing-submit-page--details .hp-form__footer .hp-form__action--listing-category-change[href]:hover, .single-hp_listing #tab-reviews .hp-form .hp-field--submit[href]:focus, .hp-listing-dashboard--settings .hp-form__footer .hp-form__action--user-delete[href]:focus, .hp-listing-dashboard--listing__edit .hp-listing__action[href]:focus, .hp-listing-submit-page--details .hp-form__footer .hp-form__action--listing-category-change[href]:focus, .single-hp_listing #tab-reviews .hp-form .hp-field--submit[href]:active, .hp-listing-dashboard--settings .hp-form__footer .hp-form__action--user-delete[href]:active, .hp-listing-dashboard--listing__edit .hp-listing__action[href]:active, .hp-listing-submit-page--details .hp-form__footer .hp-form__action--listing-category-change[href]:active, .single-hp_listing #tab-reviews .hp-form .hp-field--submit[href].active, .hp-listing-dashboard--settings .hp-form__footer .hp-form__action--user-delete[href].active, .hp-listing-dashboard--listing__edit .hp-listing__action[href].active, .hp-listing-submit-page--details .hp-form__footer .hp-form__action--listing-category-change[href].active, .single-hp_listing #tab-reviews .hp-form .hp-field--submit[type]:hover, .hp-listing-dashboard--settings .hp-form__footer .hp-form__action--user-delete[type]:hover, .hp-listing-dashboard--listing__edit .hp-listing__action[type]:hover, .hp-listing-submit-page--details .hp-form__footer .hp-form__action--listing-category-change[type]:hover, .single-hp_listing #tab-reviews .hp-form .hp-field--submit[type]:focus, .hp-listing-dashboard--settings .hp-form__footer .hp-form__action--user-delete[type]:focus, .hp-listing-dashboard--listing__edit .hp-listing__action[type]:focus, .hp-listing-submit-page--details .hp-form__footer .hp-form__action--listing-category-change[type]:focus, .single-hp_listing #tab-reviews .hp-form .hp-field--submit[type]:active, .hp-listing-dashboard--settings .hp-form__footer .hp-form__action--user-delete[type]:active, .hp-listing-dashboard--listing__edit .hp-listing__action[type]:active, .hp-listing-submit-page--details .hp-form__footer .hp-form__action--listing-category-change[type]:active, .single-hp_listing #tab-reviews .hp-form .hp-field--submit[type].active, .hp-listing-dashboard--settings .hp-form__footer .hp-form__action--user-delete[type].active, .hp-listing-dashboard--listing__edit .hp-listing__action[type].active, .hp-listing-submit-page--details .hp-form__footer .hp-form__action--listing-category-change[type].active {
    color: #fff;
    background: #377dff;
    box-shadow: 0 4px 11px rgba(55, 125, 255, 0.35); }
  .single-hp_listing #tab-reviews .hp-form .hp-field--submit[href].disabled, .hp-listing-dashboard--settings .hp-form__footer .hp-form__action--user-delete[href].disabled, .hp-listing-dashboard--listing__edit .hp-listing__action[href].disabled, .hp-listing-submit-page--details .hp-form__footer .hp-form__action--listing-category-change[href].disabled, .single-hp_listing #tab-reviews .hp-form .hp-field--submit[href]:disabled, .hp-listing-dashboard--settings .hp-form__footer .hp-form__action--user-delete[href]:disabled, .hp-listing-dashboard--listing__edit .hp-listing__action[href]:disabled, .hp-listing-submit-page--details .hp-form__footer .hp-form__action--listing-category-change[href]:disabled, .single-hp_listing #tab-reviews .hp-form .hp-field--submit[type].disabled, .hp-listing-dashboard--settings .hp-form__footer .hp-form__action--user-delete[type].disabled, .hp-listing-dashboard--listing__edit .hp-listing__action[type].disabled, .hp-listing-submit-page--details .hp-form__footer .hp-form__action--listing-category-change[type].disabled, .single-hp_listing #tab-reviews .hp-form .hp-field--submit[type]:disabled, .hp-listing-dashboard--settings .hp-form__footer .hp-form__action--user-delete[type]:disabled, .hp-listing-dashboard--listing__edit .hp-listing__action[type]:disabled, .hp-listing-submit-page--details .hp-form__footer .hp-form__action--listing-category-change[type]:disabled {
    color: #377dff;
    background-color: rgba(55, 125, 255, 0.1);
    box-shadow: none; }
  .single-hp_listing #tab-reviews .hp-form .hp-field--submit[href]:not(:disabled):not(.disabled):active, .hp-listing-dashboard--settings .hp-form__footer .hp-form__action--user-delete[href]:not(:disabled):not(.disabled):active, .hp-listing-dashboard--listing__edit .hp-listing__action[href]:not(:disabled):not(.disabled):active, .hp-listing-submit-page--details .hp-form__footer .hp-form__action--listing-category-change[href]:not(:disabled):not(.disabled):active, .single-hp_listing #tab-reviews .hp-form .hp-field--submit[href]:not(:disabled):not(.disabled).active, .hp-listing-dashboard--settings .hp-form__footer .hp-form__action--user-delete[href]:not(:disabled):not(.disabled).active, .hp-listing-dashboard--listing__edit .hp-listing__action[href]:not(:disabled):not(.disabled).active, .hp-listing-submit-page--details .hp-form__footer .hp-form__action--listing-category-change[href]:not(:disabled):not(.disabled).active,
  .single-hp_listing #tab-reviews .hp-form .show > .hp-field--submit[href].dropdown-toggle,
  .hp-listing-dashboard--settings .hp-form__footer .show > .hp-form__action--user-delete[href].dropdown-toggle,
  .hp-listing-dashboard--listing__edit .show > .hp-listing__action[href].dropdown-toggle,
  .hp-listing-submit-page--details .hp-form__footer .show > .hp-form__action--listing-category-change[href].dropdown-toggle, .single-hp_listing #tab-reviews .hp-form .hp-field--submit[type]:not(:disabled):not(.disabled):active, .hp-listing-dashboard--settings .hp-form__footer .hp-form__action--user-delete[type]:not(:disabled):not(.disabled):active, .hp-listing-dashboard--listing__edit .hp-listing__action[type]:not(:disabled):not(.disabled):active, .hp-listing-submit-page--details .hp-form__footer .hp-form__action--listing-category-change[type]:not(:disabled):not(.disabled):active, .single-hp_listing #tab-reviews .hp-form .hp-field--submit[type]:not(:disabled):not(.disabled).active, .hp-listing-dashboard--settings .hp-form__footer .hp-form__action--user-delete[type]:not(:disabled):not(.disabled).active, .hp-listing-dashboard--listing__edit .hp-listing__action[type]:not(:disabled):not(.disabled).active, .hp-listing-submit-page--details .hp-form__footer .hp-form__action--listing-category-change[type]:not(:disabled):not(.disabled).active,
  .single-hp_listing #tab-reviews .hp-form .show > .hp-field--submit[type].dropdown-toggle,
  .hp-listing-dashboard--settings .hp-form__footer .show > .hp-form__action--user-delete[type].dropdown-toggle,
  .hp-listing-dashboard--listing__edit .show > .hp-listing__action[type].dropdown-toggle,
  .hp-listing-submit-page--details .hp-form__footer .show > .hp-form__action--listing-category-change[type].dropdown-toggle {
    color: #fff;
    background-color: #377dff; }
  .single-hp_listing #tab-reviews .hp-form .hp-field--submit:not(:hover), .hp-listing-dashboard--settings .hp-form__footer .hp-form__action--user-delete:not(:hover), .hp-listing-dashboard--listing__edit .hp-listing__action:not(:hover), .hp-listing-submit-page--details .hp-form__footer .hp-form__action--listing-category-change:not(:hover) {
    color: #377dff;
    background: rgba(55, 125, 255, 0.1); }

/* secondary air */
/* success air */
/* info air */
/* warning air */
/* danger air */
/* light air */
/* dark air */
/* white air */
/* indigo air */
/* facebook air */
/* google air */
/* twitter air */
/* instagram air */
/* github air */
/* gray air */
.hp-form .hp-form__field,
.hp-form .hp-form__footer > * {
  margin-bottom: 1rem; }

.hp-form .hp-field:not(.button) {
  display: block;
  width: 100%;
  height: calc(1.5em + 1.5rem + 2px);
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1e2022;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d5dae2;
  border-radius: 0.3125rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
  @media (prefers-reduced-motion: reduce) {
    .hp-form .hp-field:not(.button) {
      transition: none; } }
  .hp-form .hp-field:not(.button)::-ms-expand {
    background-color: transparent;
    border: 0; }
  .hp-form .hp-field:not(.button):focus {
    color: #1e2022;
    background-color: #fff;
    border-color: #d5dae2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(55, 125, 255, 0.25); }
  .hp-form .hp-field:not(.button)::placeholder {
    color: #8c98a4;
    opacity: 1; }
  .hp-form .hp-field:not(.button):disabled, .hp-form .hp-field:not(.button)[readonly] {
    background-color: #f8fafd;
    opacity: 1; }
  .hp-form .hp-field:not(.button):focus {
    box-shadow: 0 0 0 0 transparent; }
  .hp-form .hp-field:not(.button):focus {
    box-shadow: 0 0 10px rgba(55, 125, 255, 0.1);
    border-color: rgba(55, 125, 255, 0.5); }

.hp-form .hp-field__label {
  display: block; }

.hp-form .hp-field.hp-field--textarea {
  height: 220px; }

.hp-form .hp-field.hp-field--attachment-upload {
  height: auto; }

.hp-modal {
  display: none;
  position: relative; }
  .hp-modal button[data-fancybox-close] {
    position: absolute;
    background-color: transparent !important; }
    .hp-modal button[data-fancybox-close]:before {
      content: none; }
    .hp-modal button[data-fancybox-close]:after {
      top: 10px;
      left: 7px; }
    .hp-modal button[data-fancybox-close] svg {
      z-index: 3;
      color: #fff; }
    .hp-modal button[data-fancybox-close]:hover svg path, .hp-modal button[data-fancybox-close]:hover:after {
      background-color: #de4437; }

.single-hp_listing #tab-reviews .hp-form--review-submit {
  margin-bottom: 2rem; }

.single-hp_listing #tab-reviews .hp-form .hp-field--rating {
  cursor: auto !important; }
  .single-hp_listing #tab-reviews .hp-form .hp-field--rating > i {
    cursor: pointer; }

.hp-listing-sidebar .widget.front_hp_listings_categories_widget .cat-item-inner > a {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .hp-listing-sidebar .widget.front_hp_listings_categories_widget .cat-item-inner > a > .count {
    border: 1px solid #e7eaf3;
    background-color: transparent; }

.hp-listing-dashboard .hp-page {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4rem;
  padding-bottom: 4rem; }
  @media (min-width: 576px) {
    .hp-listing-dashboard .hp-page {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .hp-listing-dashboard .hp-page {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .hp-listing-dashboard .hp-page {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .hp-listing-dashboard .hp-page {
      max-width: 1140px; } }
  .hp-listing-dashboard .hp-page .hp-page__title {
    font-size: 1.5rem;
    font-weight: 500; }

.hp-listing-dashboard .hp-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }
  .hp-listing-dashboard .hp-row > * {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    flex: 0 0 100%;
    max-width: 100%; }
  .hp-listing-dashboard .hp-row .hp-col-xs-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }
  @media (min-width: 768px) {
    .hp-listing-dashboard .hp-row .hp-col-sm-2 {
      flex: 0 0 16.6666666667%;
      max-width: 16.6666666667%; } }
  @media (min-width: 768px) {
    .hp-listing-dashboard .hp-row .hp-page__content {
      flex: 0 0 75%;
      max-width: 75%; }
    .hp-listing-dashboard .hp-row .hp-page__sidebar {
      flex: 0 0 25%;
      max-width: 25%;
      border-left: 1px solid #e7eaf3; } }

.hp-listing-dashboard .hp-listings .hp-link:not(:hover) {
  color: #1e2022; }

.hp-listing-dashboard .hp-listings .hp-listing__title .hp-icon {
  display: none; }

.hp-listing-dashboard .hp-pagination .nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: auto;
  margin-left: auto; }

.hp-listing-dashboard .hp-pagination .page-numbers {
  border-radius: 0.3125rem;
  margin-right: 0.25rem;
  margin-left: 0.25rem; }
  .hp-listing-dashboard .hp-pagination .page-numbers.current {
    color: #fff; }

.hp-listing-dashboard .hp-menu--user-account ul {
  padding-right: 0;
  list-style: none; }
  .hp-listing-dashboard .hp-menu--user-account ul li a {
    font-size: 1rem; }
  .hp-listing-dashboard .hp-menu--user-account ul li.current-menu-item a {
    color: #1e2022;
    font-weight: 500; }

.hp-listing-dashboard--settings .hp-form__footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  .hp-listing-dashboard--settings .hp-form__footer > *:not(:last-child) {
    margin-left: 0.5rem; }
  .hp-listing-dashboard--settings .hp-form__footer .hp-form__action--user-delete {
    display: inline-block;
    font-weight: 500;
    color: #1e2022;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.3125rem;
    transition: all 0.2s ease-in-out; }
    @media (prefers-reduced-motion: reduce) {
      .hp-listing-dashboard--settings .hp-form__footer .hp-form__action--user-delete {
        transition: none; } }
    .hp-listing-dashboard--settings .hp-form__footer .hp-form__action--user-delete:hover {
      color: #1e2022;
      text-decoration: none; }
    .hp-listing-dashboard--settings .hp-form__footer .hp-form__action--user-delete:focus, .hp-listing-dashboard--settings .hp-form__footer .hp-form__action--user-delete.focus {
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(55, 125, 255, 0.25); }
    .hp-listing-dashboard--settings .hp-form__footer .hp-form__action--user-delete.disabled, .hp-listing-dashboard--settings .hp-form__footer .hp-form__action--user-delete:disabled {
      opacity: 0.65; }
    .hp-listing-dashboard--settings .hp-form__footer .hp-form__action--user-delete[href] {
      cursor: pointer; }
    .hp-listing-dashboard--settings .hp-form__footer .hp-form__action--user-delete:not([href]):not([type]):not(:disabled):not(.disabled) {
      cursor: default; }
    .hp-listing-dashboard--settings .hp-form__footer .hp-form__action--user-delete:focus, .hp-listing-dashboard--settings .hp-form__footer .hp-form__action--user-delete.focus, .hp-listing-dashboard--settings .hp-form__footer .hp-form__action--user-delete:not(:disabled):not(.disabled):active:focus, .hp-listing-dashboard--settings .hp-form__footer .hp-form__action--user-delete:not(:disabled):not(.disabled).active:focus, .hp-listing-dashboard--settings .hp-form__footer .hp-form__action--user-delete:not([disabled]):not(.disabled):active, .hp-listing-dashboard--settings .hp-form__footer .hp-form__action--user-delete:not([disabled]):not(.disabled).active {
      box-shadow: 0 0 0 0 transparent; }
    .hp-listing-dashboard--settings .hp-form__footer .hp-form__action--user-delete:not(:disabled):not(.disabled):active:focus, .hp-listing-dashboard--settings .hp-form__footer .hp-form__action--user-delete:not(:disabled):not(.disabled).active:focus,
    .show > .hp-listing-dashboard--settings .hp-form__footer .hp-form__action--user-delete.dropdown-toggle:focus {
      box-shadow: 0 0 0 0 transparent; }
    .hp-listing-dashboard--settings .hp-form__footer .hp-form__action--user-delete .hp-icon {
      margin-left: 0.3125rem; }

.hp-listing-dashboard--listing__edit .hp-page__topbar .hp-menu--listing-manage ul {
  padding-right: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap; }
  .hp-listing-dashboard--listing__edit .hp-page__topbar .hp-menu--listing-manage ul .hp-menu__item:not(:last-child) {
    margin-left: 0.5rem; }
  .hp-listing-dashboard--listing__edit .hp-page__topbar .hp-menu--listing-manage ul .hp-menu__item a:not(:hover) {
    color: #77838f; }
  .hp-listing-dashboard--listing__edit .hp-page__topbar .hp-menu--listing-manage ul .hp-menu__item.current-menu-item a {
    color: #1e2022;
    font-weight: 500; }

.hp-listing-dashboard--listing__edit .hp-listing__actions {
  margin-bottom: 1rem; }

.hp-listing-dashboard--listing__edit .hp-listing__action {
  display: inline-block;
  font-weight: 500;
  color: #1e2022;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.3125rem;
  transition: all 0.2s ease-in-out; }
  @media (prefers-reduced-motion: reduce) {
    .hp-listing-dashboard--listing__edit .hp-listing__action {
      transition: none; } }
  .hp-listing-dashboard--listing__edit .hp-listing__action:hover {
    color: #1e2022;
    text-decoration: none; }
  .hp-listing-dashboard--listing__edit .hp-listing__action:focus, .hp-listing-dashboard--listing__edit .hp-listing__action.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(55, 125, 255, 0.25); }
  .hp-listing-dashboard--listing__edit .hp-listing__action.disabled, .hp-listing-dashboard--listing__edit .hp-listing__action:disabled {
    opacity: 0.65; }
  .hp-listing-dashboard--listing__edit .hp-listing__action[href] {
    cursor: pointer; }
  .hp-listing-dashboard--listing__edit .hp-listing__action:not([href]):not([type]):not(:disabled):not(.disabled) {
    cursor: default; }
  .hp-listing-dashboard--listing__edit .hp-listing__action:focus, .hp-listing-dashboard--listing__edit .hp-listing__action.focus, .hp-listing-dashboard--listing__edit .hp-listing__action:not(:disabled):not(.disabled):active:focus, .hp-listing-dashboard--listing__edit .hp-listing__action:not(:disabled):not(.disabled).active:focus, .hp-listing-dashboard--listing__edit .hp-listing__action:not([disabled]):not(.disabled):active, .hp-listing-dashboard--listing__edit .hp-listing__action:not([disabled]):not(.disabled).active {
    box-shadow: 0 0 0 0 transparent; }
  .hp-listing-dashboard--listing__edit .hp-listing__action:not(:disabled):not(.disabled):active:focus, .hp-listing-dashboard--listing__edit .hp-listing__action:not(:disabled):not(.disabled).active:focus,
  .show > .hp-listing-dashboard--listing__edit .hp-listing__action.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 transparent; }
  .hp-listing-dashboard--listing__edit .hp-listing__action:not(:last-child) {
    margin-left: 0.5rem; }
  .hp-listing-dashboard--listing__edit .hp-listing__action .hp-icon {
    margin-left: 0.3125rem; }

.hp-listing-submit-page .hp-page {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4rem;
  padding-bottom: 4rem; }
  @media (min-width: 576px) {
    .hp-listing-submit-page .hp-page {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .hp-listing-submit-page .hp-page {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .hp-listing-submit-page .hp-page {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .hp-listing-submit-page .hp-page {
      max-width: 1140px; } }
  .hp-listing-submit-page .hp-page .hp-page__title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1.5rem; }

.hp-listing-submit-page .hp-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }
  .hp-listing-submit-page .hp-row > * {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    flex: 0 0 100%;
    max-width: 100%; }
  .hp-listing-submit-page .hp-row .hp-col-xs-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }
  @media (min-width: 768px) {
    .hp-listing-submit-page .hp-row .hp-col-sm-2 {
      flex: 0 0 16.6666666667%;
      max-width: 16.6666666667%; } }
  .hp-listing-submit-page .hp-row .hp-grid__item {
    margin-bottom: 1rem; }
    @media (min-width: 768px) {
      .hp-listing-submit-page .hp-row .hp-grid__item {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%; } }
  .hp-listing-submit-page .hp-row .hp-listing-category__header {
    margin-bottom: 0.5rem; }
  .hp-listing-submit-page .hp-row .hp-listing-category__name {
    font-size: 1rem;
    margin-bottom: 0.3125rem; }
  .hp-listing-submit-page .hp-row .hp-listing-category__count {
    font-size: 0.75rem; }

.hp-listing-submit-page--details .hp-form__footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  .hp-listing-submit-page--details .hp-form__footer > *:not(:last-child) {
    margin-left: 0.5rem; }
  .hp-listing-submit-page--details .hp-form__footer .hp-form__action--listing-category-change {
    display: inline-block;
    font-weight: 500;
    color: #1e2022;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.3125rem;
    transition: all 0.2s ease-in-out; }
    @media (prefers-reduced-motion: reduce) {
      .hp-listing-submit-page--details .hp-form__footer .hp-form__action--listing-category-change {
        transition: none; } }
    .hp-listing-submit-page--details .hp-form__footer .hp-form__action--listing-category-change:hover {
      color: #1e2022;
      text-decoration: none; }
    .hp-listing-submit-page--details .hp-form__footer .hp-form__action--listing-category-change:focus, .hp-listing-submit-page--details .hp-form__footer .hp-form__action--listing-category-change.focus {
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(55, 125, 255, 0.25); }
    .hp-listing-submit-page--details .hp-form__footer .hp-form__action--listing-category-change.disabled, .hp-listing-submit-page--details .hp-form__footer .hp-form__action--listing-category-change:disabled {
      opacity: 0.65; }
    .hp-listing-submit-page--details .hp-form__footer .hp-form__action--listing-category-change[href] {
      cursor: pointer; }
    .hp-listing-submit-page--details .hp-form__footer .hp-form__action--listing-category-change:not([href]):not([type]):not(:disabled):not(.disabled) {
      cursor: default; }
    .hp-listing-submit-page--details .hp-form__footer .hp-form__action--listing-category-change:focus, .hp-listing-submit-page--details .hp-form__footer .hp-form__action--listing-category-change.focus, .hp-listing-submit-page--details .hp-form__footer .hp-form__action--listing-category-change:not(:disabled):not(.disabled):active:focus, .hp-listing-submit-page--details .hp-form__footer .hp-form__action--listing-category-change:not(:disabled):not(.disabled).active:focus, .hp-listing-submit-page--details .hp-form__footer .hp-form__action--listing-category-change:not([disabled]):not(.disabled):active, .hp-listing-submit-page--details .hp-form__footer .hp-form__action--listing-category-change:not([disabled]):not(.disabled).active {
      box-shadow: 0 0 0 0 transparent; }
    .hp-listing-submit-page--details .hp-form__footer .hp-form__action--listing-category-change:not(:disabled):not(.disabled):active:focus, .hp-listing-submit-page--details .hp-form__footer .hp-form__action--listing-category-change:not(:disabled):not(.disabled).active:focus,
    .show > .hp-listing-submit-page--details .hp-form__footer .hp-form__action--listing-category-change.dropdown-toggle:focus {
      box-shadow: 0 0 0 0 transparent; }
    .hp-listing-submit-page--details .hp-form__footer .hp-form__action--listing-category-change .hp-icon {
      margin-left: 0.3125rem; }

@media (max-width: 991.98px) {
  .single-hp_listing #pills-listing-tab.nav {
    flex-wrap: nowrap;
    overflow: auto; }
    .single-hp_listing #pills-listing-tab.nav > .nav-item {
      flex: 0 0 50%;
      max-width: 50%; }
    .single-hp_listing #pills-listing-tab.nav.nav-classic .nav-link {
      margin-bottom: 0; } }