.woocommerce-password-strength {
	@include font-size($small-font-size);
    font-weight: $font-weight-normal;

	&.bad,
	&.short {
		color: $danger;
		margin-top: ($spacer * .25) !important;
	}

	&.good {
		color: $warning;
		margin-top: ($spacer * .25) !important;
	}

	&.strong {
		color: $success;
		margin-top: ($spacer * .25) !important;
	}

}